/***GLOBAL STYLE***/
*{
  margin: 0; 
  padding: 0;
  list-style-type: none;
}

body{
  background: #lightyellow;
}

#container{
  width: 80%;
  margin: 10px auto;
}

/***Design the page with 6 column***/
#myContent{
  -moz-column-count: 6;
  -moz-column-gap: 0px;
  -webkit-column-count: 6;
  -webkit-column-gap: 0px;
  column-count: 6;
  column-gap: 0px;
  width: 100%;
}

#myContent li{
  display: inline-block;
  width: 100%;
}

.item{
  padding:10px;
  margin: 4px;
  background:#eee;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
 /* specify the painting area of the background*/
  background-clip: padding-box;
}

.item div{
  background:#cef;
  height:100%;
  width:100%;
}

/***Rules to display the p in the middle of the div***/
.centerP {
  width:300px;
  height:100px;  
  display: table; 
  background:#ccddcc;  
}

p {
  text-align:center; 
  vertical-align: middle;
  display: table-cell;  
}

@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
  #myContent{
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
    width: 1000px;
  }
  
  #container{
    width: 1000px;
  }
}


@media only screen and (max-width : 999px),
only screen and (max-device-width : 999px){
  #myContent{
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    column-count: 4;
    column-gap: 0px;
    width: 800px;
  }
  
  #container{
    width: 800px;
  }
}

@media only screen and (max-width : 799px),
only screen and (max-device-width : 799px){
  #myContent{
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 34;
    column-gap: 0px;
    width: 600px;
  }
  
  #container{
    width: 600px;
  }
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
  #myContent{
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
    width: 400px;
  }
  
  #container {
    width: 400px;
  }
}

@media only screen and (max-width : 399px),
only screen and (max-device-width : 399px){
  #myContent {
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    column-count: 1;
    column-gap: 0px;
    width: 200px;
  }
  
  #container {
    width: 200px;
  }
}